__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Database
*.db
*.sqlite

# Google Auth
credentials.json
token.json

# Logs
*.log

# Generated Audio
static/audio/*
!static/audio/.gitkeep

# Testing
verification/
